/obj
/Temp
/WebPlayer
/Library
/Assets/Z_Test
/Assets/SDTK
/Assets/SDTK/ToolBox
/Assets/SDTK/ToolBox/Data
/Output
/Assets/StreamingAssets
/Assets/StreamingAssets.meta
/GameData/BotData

*.svn
*.settings
*.project
.DS_Store
.metadata
org.eclipse.core.resources.prefs
com.powerflasher.fdt.classpath

/*.unityproj
/*.csproj
/*.csporj.user
/*.pidb
/*.sln
/*.DotSettings
/*.suo
/*.userprefs
/*.bin

*.bin
.bin
Assets/SDTK/ToolBox/Data/default.bin
/Assets/SDTK/ToolBox/Data/default.bin
Assets/SDTK.meta
Assets/Z_Test.meta

/ExportAssets
/Export
